<%- include('../../partials/head'); %>

      <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Admin Users</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                        <div class="table-responsive">
                           <div class="row justify-content-between">
                              <div class="col-sm-12 col-md-6">
                                 <div id="user_list_datatable_info" class="dataTables_filter">
                                    <form class="mr-3 position-relative">
                                       <div class="form-group mb-0">
                                          <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
                                       </div>
                                    </form>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                 <div class="user-list-files d-flex float-right">
                                    <a href="/user/add" class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add" href="#"><i class="ri-user-add-line"></i> Add User</a>

                                    <a href="/role/view"  class="iq-bg-primary" href="javascript:void();">
                                       Manage Roles and Permissions
                                     </a>
                                     <!-- <a class="iq-bg-primary" href="javascript:void();">
                                       Pdf
                                     </a> -->
                                   </div>
                              </div>
                           </div>
                           <table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Role</th>

                                   
                                    <th>Branch</th>
                                    <th>Status</th>
                                    <th>Join Date</th>
                                    <th>Action</th>
                                 </tr>
                             </thead>
                             <tbody>
                                <% for(var i = 0;  i < users.length ; i++ ) { %>
                                    <tr>
                                        <td><%= users[i].first_name %> <%= users[i].last_name %></td>
                                        <td><%= users[i].email %></td>
                                        <td><%= users[i].contact %></td>
                                        <td><%= users[i].role %></td>
                                        <td><%= users[i].branch %></td>
                                        <%if(  users[i].is_active == true) { %>
                                          <td><span class="badge iq-bg-primary">Active</span></td>

                                        <%} else if(  users[i].is_active == false) { %>
                                          <td><span class="badge iq-bg-error">Inactive</span></td>
                                       
                                          <% }  %>
                                       <td><%= moment(users[i].created_on).format('MM/DD/YYYY')%></td>
                                       <td>
                                       <% if(users[i].role != "masteradmin") { %>
                                        
                                             <div class="flex align-items-center list-user-action">
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="/user/update/<%= users[i].id %>"><i class="ri-pencil-line"></i></a>
                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" onclick="confirmdelete(`<%= users[i].first_name%> <%= users[i].last_name%>`, `<%= users[i].id%>`)"><i class="ri-delete-bin-line"></i></a>
                                             </div>
                                          
                                       <% }%>
                                    </td>
                                     </tr>
                                <% } %>
                                
                               
                             </tbody>
                           </table>
                        </div>
                           <!-- <div class="row justify-content-between mt-3">
                              <div id="user-list-page-info" class="col-md-6">
                                 <span>Showing 1 to 5 of 5 entries</span>
                              </div>
                              <div class="col-md-6">
                                 <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end mb-0">
                                       <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                       </li>
                                       <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                       <li class="page-item"><a class="page-link" href="#">2</a></li>
                                       <li class="page-item"><a class="page-link" href="#">3</a></li>
                                       <li class="page-item">
                                          <a class="page-link" href="#">Next</a>
                                       </li>
                                    </ul>
                                 </nav>
                              </div>
                           </div> -->
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
   <%- include('../../partials/footer'); %>
   <script src="/js/appscripts/user.js"></script>
